/* Footer style */

footer {
  background-color: var(--secondary-bg-color);
  color: var(--headline-color);
}

footer a {
  color: var(--headline-color);
  transition: all 0.2s ease;
}

footer a:hover {
  color: var(--bg-color);
}
