.button-primary {
  background-color: var(--secondary-bg-color);
  border-radius: 25px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border: 0;
  color: var(--bg-color);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  border: 3px solid transparent;
  transition: all 0.2s ease;
  -webkit-appearance: none;
}

.button-primary:focus {
  box-shadow: none;
  outline: none;
}

.button-primary:hover {
  background-color: var(--bg-color);
  border: 3px solid var(--bg-color);
  color: var(--secondary-bg-color);
}
