a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
}

/* Header section style */

.header {
  background-color: var(--bg-color);
  position: relative;
}
.hero-text {
  overflow: hidden;
  padding-top: 80px;
}

.heading-title {
  color: var(--headline-color);
  font-size: clamp(60px, 6vw, 120px);
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.heading-title .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}

.hero-subtitle {
  margin-top: 5rem;
  color: var(--secondary-bg-color);
}

@media screen and (min-width: 1500px) {
  .spacer {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1499px) {
  .spacer {
    margin-bottom: 100px;
  }
}

.img-container {
  max-width: 100%;
}

.hero-img {
  max-width: 60%;
}

@media screen and (min-width: 992px) {
  .hero-img {
    position: absolute;
    z-index: 2;
    left: 20%;
  }
}

@media screen and (max-width: 991px) {
  .hero-img {
    margin-bottom: 3rem;
    max-width: 95%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1499px) {
  .header {
    min-height: 600px;
  }
}

@media screen and (min-width: 1500px) {
  .header {
    min-height: 800px;
  }
}

@media screen and (min-width: 1921px) {
  .hero-img {
    left: 20%;
  }
}

/* about us section */

.about-us {
  background-color: var(--secondary-bg-color);
}

.about-us .paragraph {
  color: var(--headline-color);
}

.about-container {
  padding-top: 10%;
}

/* tariffs section */

.card-row {
  margin-top: 6rem;
}

.card-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  position: relative;
  transition: all 0.5s ease;
}

@media screen and (min-width: 992px) {
  .card-container:hover {
    transform: scale(1.15);
  }
}

.card-container .img-container {
  position: relative;
  margin-left: -50%;
}

.card-image {
  width: 210px;
  position: absolute;
  top: -70px;
  left: 70%;
}

.card-container:last-child .card-image{
  top: -90px !important;
}

.price-card {
  max-width: 400px;
  padding: 20px;
}

.card-container:first-child .price-card {
  background-color: var(--secondary-bg-color);
}

.card-container:first-child .price-card .card-text,
.card-container:first-child .price-card .card-tariff {
  color: var(--headline-color);
}

.card-container:nth-child(2) .price-card {
  background-color: var(--headline-color);
}

.card-container:nth-child(2) .price-card .card-text,
.card-container:nth-child(2) .price-card .card-tariff {
  color: var(--bg-color);
}

.card-container:last-child .price-card {
  background-color: #e16162;
}

.card-container:last-child .price-card .card-text,
.card-container:last-child .price-card .card-tariff {
  color: var(--headline-color);
}

.card-title {
  color: var(--black-text);
}

@media screen and (max-width: 991px) {
  .card-container {
    margin-bottom: 90px;
  }
}

/* offer section */

.offer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.text-container-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.offer-icon {
  max-width: 120px;
}

@media screen and (max-width: 991px) {
  .offer .row .offer-container:first-child {
    margin-bottom: 3rem;
  }
}

.offer-title,
.offer-container .paragraph {
  color: var(--headline-color);
}

/* testimonials section */

@media screen and (max-width: 495px) {
  .testimonial-carousel .title-custom {
    text-align: left !important;
  }
}

.carousel {
  height: 100%;
  overflow: hidden;
}

.testimonial-carousel {
  height: 248px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: initial;
  padding: 50px;
  padding-left: 90px;
  padding-right: 90px;
  height: 100%;
}

.client-name-carousel {
  font-size: 24px;
  font-weight: 600;
  color: var(--headline-color);
}

@media screen and (max-width: 478px) {
  .carousel-control-next {
    right: -15px;
  }

  .carousel-control-prev {
    left: -15px;
  }

  .carousel-inner {
    padding: 20px;
  }

  .carousel-indicators {
    bottom: -30px;
  }
}

.carousel-indicators {
  bottom: 40px;
}

@media screen and (max-width: 991px) {
  .carousel-indicators {
    bottom: 45px !important;
  }

  .testimonial-carousel {
    height: 400px !important;
}
}

.carousel-content {
  color: var(--headline-color);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .carousel-inner {
    padding: 3rem;
    padding-left: 140px;
    padding-right: 140px;
  }
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234A986C' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234A986C' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators > li {
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.carousel-indicators li {
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-item.active {
  display: block;
}

.carousel-item .paragraph {
  color: var(--headline-color);
}

#rentDate, #returnDate {
  width: 100%;
}