.rent-page {
  padding-top: 40px;
}

.rent-page label {
  color: var(--headline-color);
}

.rent-page .car-card {
  background-color: white;
  border-radius: 25px;
}

.rent-page .car-image {
  max-width: 100%;
}

.popup-label {
  color: black !important;
}

.popup-btn {
  font-size: 16px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}